{% extends 'uni_fit/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Change Password
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="wrapper" id="pass">
  <div class="box">

    <h1>Change Password</h1>

      <form method="post" action=".">
          {% csrf_token %}
          {{ form.as_p }}
          <!--<div class="inputBox">
              {{ form.username }}
              <label>OLD PASSWORD</label>
          </div>
          
          <div class="inputBox">
              {{ form.password }}
              <label>NEW PASSWORD</label>
          </div>

          <div class="inputBox">
            {{ form.password }}
            <label>NEW PASSWORD CONFIRMATION</label>
        </div>-->
          <br>

          <button type="submit" id="submit">Change Password</button>
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
      
  </div>
</div>

{% endblock %}
