{% extends 'uni_fit/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="wrapper">
    <div class="box">

        <h1>Register Here</h1>

        <form method="post" action=".">
            {% csrf_token %}      
            
            <div class="name">
                <label for="fname">FIRST NAME</label>
                <input type="text" id="fname" name="fname">
            </div>

            <div class="name">
                <label for="fname">LAST NAME</label>
                <input type="text" id="lname" name="lname">
            </div>

            <div class="inputBox">
                {{ form.username }}
                <label>USERNAME</label>
            </div>

            <div class="inputBox">
                {{ form.email }}
                <label>EMAIL</label>
            </div>

            <div class="inputBox">
                {{ form.password1 }}
                <label>PASSWORD</label>
            </div>

            <div class="inputBox">
                {{ form.password2 }}
                <label>PASSWORD CONFIRMATION</label>
            </div>
         
            <label id="pref">SET YOUR PREFERENCES</label>

            <div class="preferences">
                <select name="country" id="country">
                    <option value="" selected="selected">Select Country</option>
                </select>
                <select name="department" id="department">
                    <option value="" selected="selected">Select Department</option>
                </select>
            </div>

            <label >SOME MORE ABOUT YOU</label>

            <div class="about-you">
                <select name="subject" id="subject">
                    <option value="" selected="selected">Select Subject</option>
                </select>
                <label for="grade">GRADE (%)</label>
                <input type="integer" id="grade" name="grade">
            </div>
            <br/>
            {{ form.errors }}
            <button type="submit" id="submit">Sign Up</button>
        </form>

        <p>Already have an account? <a href="{% url 'auth_login' %}"> Sign in.</a></p>
       
        <div>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--JS-->
<script src="/static/js/dropdown.js"></script>

{% endblock %}