@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    font-family:'Poppins';
}
body {
    background-color: #FFFFFF;
    min-height: 100%;
    margin: 0px;
}

h1{
    font-weight: 700;
}

li {
    list-style: none;
}

.login{
    font-weight: 500;
    font-size: 1em;
    padding: 5px 20px;
}  

.navbar{
    padding: 20px 100px;
    font-size: 1.3em;
    font-weight: bold;
    color:#333;
    background-color:white;
}

.nav-item{
    padding: 3px 10px;
}

nav li{
    display: inline;
    list-style: none;
}

ul{
    padding: 0px;
    margin: 0px;
}

nav img{
    height: 100px;
    width: auto;
    padding: 5px;
}
#show{
    margin-right: 65rem;
}
#show:hover{
    background-color: #FFFFFF;
}

#hello-user{
    color: #38B6FF;
    padding-top: 42px;
}

#hello-user:hover{
    color: #031A5B;
    background-color: #FFFFFF;
}


#logout:hover {
    background:#FFFFFF ;
    color: #38B6FF;
}

#logout {
    position: relative;
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    border-radius: 10px;
    border: 2px solid #38B6FF;
    padding: 14px 28px;
    cursor: pointer;
    background: #38B6FF;
    color: #ffffff;
    margin-top: 25px;
    align-items: flex-end;
}

#favs{
    color: #38B6FF;
    padding-top: 42px;
}

#favs:hover{
    color: #031A5B;
    background-color: #FFFFFF;
}
