
#category-banner{
  width: 100%;
  height: 40vh;
  overflow: auto;
  background-image: url('/static/images/background12.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #031A5B;
}


.select-wrapper {
  height:300;
  padding: 30px;
}

#countrydropdown{
  font-size: 20px;
  border-radius: 30px;
  padding: 15px 70px 15px 40px;
  text-align-last:center;
  border:black;
  font-weight: bold;
}

#departmentdropdown{
  font-size: 20px;
  border-radius: 30px;
  padding: 15px 70px 15px 40px;
  text-align-last:center;
  border:black;
  font-weight: bold;
}

.center {
    margin: auto;
    width: 60%;
    padding: 1%;
    text-align: center;
    background-color: #FFFFFF;
    margin: 20px;
    color: #000000;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #FFFFFF;
}

th, td {
  text-align: justify;
}

tr:nth-child(even) {
  background-color: #e7ecf5;
}

#uni-list{
  background-color: #031A5B;
  padding-bottom: 40px;
}

.heading{
  color:white;
  font-weight: 700;
  font-size: 50px;
  padding-top: 52px;
  padding-bottom: 5px;
}

.rank{
  justify-content: center;
  text-align: center;
}