
#category-banner{
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background:linear-gradient( rgba(211, 229, 239, 0.1) 100%, rgba(211, 229, 239, 0.1)100%),url('/static/images/background12.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;  

}

#heading-banner{
  width: 100%;
  height: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  overflow: auto;
  background-color: #000000;
  background: url('/static/images/profile-cover2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff; 
  background-size: 100% 93%;
  margin-top: 5%;
}

.select-wrapper {
  height:300;
  padding: 30px;
}

#countrydropdown{
  margin-top: 2%;
  margin-bottom: 0%;
  font-size: 20px;
  border-radius: 20px;
  padding: 15px 40px 15px 40px;
  text-align-last:center;
  border:10px rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(93,196,251);
  color: rgba(0,0,0,1)
}

#departmentdropdown{
  margin-top: 1%;
  margin-bottom: 1.5%;
  font-size: 20px;
  border-radius: 20px;
  padding: 15px 40px 15px 40px;
  text-align-last:center;
  border:10px rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(93,196,251);
  color:rgba(0,0,0,1)
}

.center {
    margin: auto;
    width: 60%;
    padding: 1%;
    text-align: center;
    background-color: #FFFFFF;
    margin: 20px;
    color: #000000;
}

table {
  background-color: rgb(93,196,251);
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 20px;
  width: 100%;
  
  
}

th, td {
  text-align: justify;
  font-size: 17px;
  color: #FFFFFF;
  opacity: 1;
  
}

tr:nth-child() {
  display: grid;
  background-color: #e7ecf5;
  font-size: 17px;
  color: #FFFFFF;
  opacity: 1;
}

#uni-list{
  background-color: #ffffff;
  padding-bottom: 40px;
  color: #FFFFFF;
  opacity: 1; 
}

.heading{
  color:white;
  font-weight: 700;
  font-size: 50px;
  padding-top: 52px;
  padding-bottom: 5px;
}

.rank{
  justify-content: center;
  text-align: left;
  font-size: 17px;
  padding: 0.25%;
  color: #FFFFFF;
  opacity: 1;
}

label {
  /* Presentation */
  font-size: 48px
}

/* Required Styling */

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .glyphicon {
  color: gold;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 0.75em;
}

.custom-checkbox .glyphicon-star-empty {
  color: gray;
}

.custom-checkbox .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
  opacity: 1;
}