@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    font-family:'Poppins';
}

h1{
    padding: 40px;
    text-align: center;
    font-weight: 700;
    color: #031A5B;
    font-size: 50px;
    margin-top: -20px;
}

h3{
    background-color: #031A5B;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #FFFFFF;
    width: 100%;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
}

.review-heading{
    margin-bottom: -10px;
}


i{
    padding-right: 10px;
}

.post{
    border: 2px solid  #031A5B;
    width: 100%;
    background-color: #FFFFFF;
    padding: 5px;
    margin-top: -12px;
}

.post a{
    background-color: #FFFFFF;
    text-decoration: none;
    color:#38B6FF;
}

.post a:hover{
    color:#031A5B;
}

.reddit{
    overflow:auto ;
    text-align: justify;
    
    height:640px;
    width:28%;
}

.reddit a{
    text-decoration: none;
}

.uni-image{
    width: 100%;
    margin-left: 100px;
    
}

.section1 div{
    display: inline;
}

.uni-info{
    font-size: 28px;
    color: #FFFFFF;
    background-color: #031A5B;
    margin-left: 100px;
    padding: 40px;
}


.review-section{
    overflow:auto ;
    text-align: justify;
    height:640px;
    width:90%;
    margin-right: 103px;
    margin-top: -640px;
}


.column1 {
    float: left;
    width: 30%;
}

.column2 {
    width: 30%;
}

.column3 {
    float: right;
    width: 28%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



@media (min-width: 992px){
    .col-md-8 {
        width: 100%;
    }
}

.navbar{
    margin-bottom: 0px;
}