{% extends 'uni_fit/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
<div id="category-banner" class="text-center">
    <div class="container-fluid">
        <h1 class="heading">Welcome to UniFit</h1>

    

<form action="{% url 'uni_fit:home' %}" method="GET" id="form_cdd" >
  
            <select id="countrydropdown" name="countrydropdown" onchange="this.form.submit()">
                <option selected disabled value="null">Select a Country</option>
                <option value="all">All Countries</option>
                {% for c in countrylist %}
                <option >{{ c }}</option>
                {% endfor %}
            </select>       
    
    <div class="text-center">
            <select id="departmentdropdown" name="departmentdropdown" onchange="this.form.submit()">
                <option selected disabled value="null">Select a Department</option>
                <option value="all">All Departments</option>
                {% for c in departmentlist %}
                <option>{{ c }}</option>
                {% endfor %}
            </select>
    </div>
</div>
</form>
<div class="center" style="margin: auto; background: rgba(3,26,92,0.75);  border-radius: 20px;" >
    <table id="unitable" style = "background: transparent">
        <tr>
            <th class="rank">University Rank</th>
            <th>University</th>
        </tr>
        {% for university in universities %}
            <tr>
                <td class="rank" style = "color:rgba(255,255,255,1); opacity: 1;">{{university.UniRank}}</td>
                <td><a href="{% url 'uni_fit:university' university.UniId %}" style = "color:rgba(255,255,255,1)">{{university.UniName }}</a></td>
                <td><a href="{% url 'uni_fit:favourite_add' university.UniId %}"style = "color: rgba(255,255,255,1)">Add to Favourties</a></td>
            </tr>   
        {% endfor %}
    </table>




    
</div>  

<div class="container-fluid">
    <h1 class="heading"></h1>




<!--CSS & JS-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %} " style = "color: rgba(255,255,255,255); opacity: 1;"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" style = "color: rgba(255,255,255,255); opacity: 1;">
{% load static %}
<script src="{% static 'unifit\static\js\home.js' %}" style = "color: rgba(255,255,255,1)"></script>
{% endblock %}