{% extends 'uni_fit/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}


<div id="category-banner" class="text-center">
    <div class="">
        <h1 style="color:white;">Welcome to UniFit</h1>
        <select id="category-dropdown" onchange="getCountry(this.value);">
            <option selected value="0">Country</option>
            {% for c in university.country %}
            <option value="{{ c.id }}">{{ c.CountryName }}</option>
            {% endfor %}
        </select>
        <span><i class="fas fa-chevron-circle-down"></i></span>
    </div>
</div>

<div class="text-center">
    <div class="select-wrapper">
        <select id="category-dropdown" onchange="getUniversities(this.value);">
            <option selected value="0">Department</option>
            {% for c in university %}
            <option value="{{ c.id }}">{{ c.CountryName }}</option>
            {% endfor %}
        </select>
        <span><i class="fas fa-chevron-circle-down"></i></span>
    </div>
</div>

<div class="center">
    <table>
        <tr>
            <th>Department Rank</th>
            <th>University</th>
        </tr>
        {% for university in universities %}
            <tr>
                <td>{{university.UniRank}}</td>
                <td>{{university.UniName }}</td>
                <td><a href="{% url 'uni_fit:favourite_add' user.id %}">Add to Favourties</a></td>
            </tr>
        {% endfor %}
    </table>
</div>  

<!--CSS & JS-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% load static %}
<script src="{% static 'unifit\static\js\home.js' %}"></script>
<script>
    getUniversities(0);
</script>

{% endblock %}

