{% extends 'uni_fit/base.html' %}
{% load staticfiles %}

{% block title_block %}
Review
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row">
      
      <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          <!-- reviews -->
          <h2>{{ comments.count }} Reviews</h2>
  
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.title }}
              <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
            </p>
            {{ comment.comment | linebreaks }}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          
          <h3>Leave a Review</h3>
  
          {% load crispy_forms_tags %}
  
          <form method="post" style="margin-top: 1.3em;">
                  {{ comment_form | crispy }}
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary  btn-lg">Submit Review</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}