{% extends 'uni_fit/base.html' %}
{% load staticfiles %}

{% block title_block %}
University Name
{% endblock %}


{% block body_block %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/university.css' %}">


<h1>University of Glasgow</h1>
<br></br>
<div class="section1">
    <div>
        <img class="uni-image" src="/static/images/background2.jpg" alt="picture of university">
    </div>

    <div class="uni-info">
        add some info here
    </div>
</div>

<div class="section2 row">
    <div class="reddit column1">
        {% if result_list %}
        <h3><i class="fab fa-reddit-square fa-2xl"></i>Popular Reddit Posts</h3>
       
            {% for result in result_list %}
            <div>
            <p class="post">
                <!--<strong>SUBREDDIT: </strong> {{ result.subreddit }}-->
                <a href="{{ result.url }}" target=”_blank”><strong>{{ result.title }} </strong></a>
                <!--<strong>TEXT: </strong> {{ result.selftext }}
                <strong>UPVOTE RATIO: </strong> {{ result.upvote_ratio }}
                <strong>UP VOTES: </strong> {{ result.ups }}
                <strong>DOWN VOTES: </strong> {{ result.downs }}
                <strong>SCORE:</strong> {{ result.score }}
                <strong>URL:</strong> {{ result.url }}-->
            </p>
            </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="review-section column2">
        <h3>{{ comments.count }} Reviews </h3>

    </div>


</div>

{% endblock %}