{% extends 'uni_fit/base.html' %}
{% load staticfiles %}

{% block title_block %}
University Name
{% endblock %}

<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->

{% block body_block %}

<!-- CSS -->


<div id="category-banner" class="text-center" style = "background-color: rgba(248,249,250,255);">
    <div class="container-fluid">
        <h1>{{ unidata.UniName }}</h1>
   
        <link rel="stylesheet" href="{% static 'css/university.css' %}">

<div style="background-image: url('/static/images/university-backgrounds/{{ unidata.UniId }}.jpg'); background-repeat: no-repeat;  background-position: center; background-size: cover; height:900px;">

    <div class="uni-info column1" style="color: rgba(255,255,255,1); background: rgba(3,26,92,1);">
        <!-- REPLACE THIS WITH POPULATION SCRIPT 'ABOUT' INFO -->
        <h4>About</h4>
        {{unidata.About}}
        <img src = '/static/images/university-backgrounds/{{ unidata.UniId }}.jpg' width="600" height="337"alt="Image Load Error" style = "max-width:600; max-height:337; object-fit:contain">
    </div>

    <div class="review-section column3">
        <h3 class="review-heading">{{ comments.count }} Reviews </h3>
        <div class="container">
            <div class="row">
                <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
                        <!-- reviews -->
                        {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">
                            <p class="font-weight-bold">
                                {{ comment.title }}
                                <span class=" text-muted font-weight-normal">
                                    {{ comment.created_on }}
                                </span>
                            </p>
                            {{ comment.comment | linebreaks }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reddit">
        {% if result_list %}
        <h3><i class="fab fa-reddit-square fa-2xl"></i>Popular Reddit Posts</h3>
        
        {% for result in result_list %}
        <div>
            <ul class="post">
                <!--<strong>SUBREDDIT: </strong> {{ result.subreddit }}-->
                <li>
                
                <a href="{{ result.url }}" target=”_blank”><strong>{{ result.title }} </strong></a>
               
                </li>

            </ul>
        </div>
        {% endfor %}
        {% endif %}
    
    </div>

   
</div>
<div class="col-md-8 card mb-4  mt-3" style="background: rgba(3,26,92,1);  border-radius: 20px">
    <div class="card-body">
        <h3>Leave a Review</h3>
        {% load crispy_forms_tags %}
        <form method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg">Submit Review</button>
        </form>
    </div>
</div>

{% endblock %}

